:root{
    --topicFontSize : 40px;
    --subtopicFontSize : 28px;
    --textFontSize : 25px;
}

/*header style*/
header{
    top: 0;
    height: 100px;
    width: 100vw;
    background: #B6BBC4;
    position: fixed;
    z-index: 4;
}
header>nav{
    position: absolute;
    top: 40px;
    right: 100px;
}
header>div{
    position: absolute;
    top: 10px;
    left: 50px;
}
header>div>img{
    height: 80px;
    width: 130px;
}
header>nav>a{
    padding: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
header>nav>a:hover{
    color: black;
}

/*home style*/

#home{
    display: flex;
    position: relative;
    margin-top: 100px;
    height: calc(100vh - 200px);
    background-color: #31304D;
}
#home>main>article>hgroup{
    height: 43px;
    overflow: hidden;
    color: white;
    font-size: 26px;
    position: absolute;
}
#home>main>div{
    position: relative;
}
#home>main>div>span{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
#home>main>article>h1{
    color: white;
    font-size: 60px;
}
#home>main>article>hgroup>h2{
    margin: 0 ;
    animation-name: homeTextAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#home>main{
    /*background-color: deepskyblue;*/
    height: 60%;
    position: absolute;
    top: 200px;
    left: 400px;
}
#home>main>div>img{
    display: inline;
    margin-right: 0;
}

#home>aside{
    border-radius: 45%;
    width: 525px;
    height: 708px;
    overflow: hidden;
    display: flex;
    position: absolute;
    right: 300px;
    margin-top: 10px;
}
#home>aside:first-child>img{
    width: 700px;
    height: 1000px;
    margin-right: 0;
}
#home>aside:nth-child(2)>img{
    width: 700px;
    height: 800px;
    /*margin-left: 20px;*/
}
#home>aside>img{
    animation-name: homeImageAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/*about me*/
#about{
    position: relative;
}
#about>h2:first-child{
    width: 220px;
    height: 60px;
    margin: auto;
    margin-top: 0;
    padding: 20px;
    font-size:var(--topicFontSize);
}
#about>aside>img{
    width: 30%;
    height: 700px;
    margin-left: 10%;
}
#about>article{
    width: 40%;
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 900px;
    margin: auto;
    margin-right: 10%;
    margin-top: 10%;
    font-size:var(--textFontSize);
}
#about>article>button{
    background-color: #B6BBC4;
    height: 50px;
    width: 300px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}
#about>article>button:hover{
    background-color: #31304D;
}
#about>main{
    background-color: #F0ECE5;
    max-width: 1540px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
#about>main>div{
    background-color: white;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
    position: relative;
    padding: 20px;
    padding-left: 40px;
}
#about>main>div:first-child{
    left: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
#about>main>div:nth-child(2){
    margin-top: 50px;
    margin-left: 50px;
}
#about>main>div:nth-child(3){
    left: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
#about>main>div:nth-child(4){
    margin-top: 50px;
    margin-left: 50px;
}
#about>main>div>div:nth-child(2){
    padding-left: 50px;
    font-size: 18px;
}
#about>main>div>div:first-child>img{
    height: 154px;
    width: 142px;
    margin-left: 200px;
}


@keyframes homeTextAnimation {
    0%,20%{
        transform: translateY(0);
    }
    25% ,45%{
        transform: translateY(-115%);
    }
    50% , 70%{
        transform: translateY(-215%);
    }
    75% ,100%{
        transform: translateY(-320%);
    }
}
@keyframes homeImageAnimation {
    0%,45%{
        transform: translateX(0);
    }
    50% ,95%{
        transform: translateX(-100%);
    }
}